$color-dark: #202020; //text
$color-primary: #023d28; //background for btn, header, footer
$color-filters: #eaedec; //filters
$color-rating: #07ab08;
$color-light: #ffffff;
$color-promo: #fcf0e3;

$table-width: 768px;
$mobile-width: 360px;

$radius: 5px;
