.buttons__wrapper {
  display: flex;
  gap: 20px;
  padding-top: 15px;
}

.button {
  @include font($size: 2rem);
  width: 130px;
  padding: 5px 10px;
  border: 1px solid $color-primary;
  color: $color-primary;
  border-radius: 20px;
  background-color: $color-light;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    background-color: $color-primary;
    color: $color-light;
  }

  &_small {
    @include font($size: 1.6rem);
    width: 50%;

    @include media-mobile {
      width: 100%;
    }
  }

  &:disabled {
    color: $color-filters;
    border-color: $color-filters;
    cursor: auto;
  }
}
