.promo {
  background: $color-promo;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  @include media-mobile {
    display: none;
  }
}

.h1 {
  @include font($size: 3rem);
}
