.layout_lines {
  display: flex;
  flex-direction: column;
}

.wrapper .layout_lines {
  width: 75%;
  border-top: 1px solid $color-filters;
  border-bottom: 1px solid $color-filters;

  @include media-mobile {
    width: 50%;
  }
}
